.NavItem{
    height: auto;
    width: 100%;
    padding: 15px 15px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.NavItem span{
    font-size: 18px;
    font-weight: 200;
    margin-left: 10px;
}
.isFocus{
    background-color: #16acc1;
    border-radius: 5px;
}